src/.DS_Store
.DS_Store
*.robot
.sfdx/orgs/test-omlxfosdxogu@example.com/sourcePathInfos.json
.sfdx/orgs/test-omlxfosdxogu@example.com/metadataTypeInfos.json
.sfdx/orgs/test-omlxfosdxogu@example.com/maxrevision.json
.sfdx
.appcloud
.externalToolBuilders
.project
.settings
./build.properties
/test_results.json
/test_results.xml
/force-app/*
.vscode/settings.json
.sfdx/tools/apex.db
*.db
log.html
output.xml
report.html
**/.sfdx/
**/.vscode/
**/.idea/
log.html
output.xml
report.html
